[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
ipykernel = "*"
pytest = "*"
flake8 = "*"

[packages]
tracery = "*"
setuptools = "*"
scipy = "*"
matplotlib = "*"
tk = "*"
lloyd = "*"

[requires]
python_version = "3.8"
